### Mac
.DS_Store

### Vim
.vim/bundle/
.vim/.netrwhist
.vim/colors
.vim/pack
.vscode/settings.json

### Docker
docker-compose.override.yml

### LLM

.codex/auth.json
.codex/history.*
.codex/log/*
.codex/sessions/*
.codex/config.toml
.codex/skills/.system/

### Terraform

.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock
.terraform.tfstate.lock.info

